# Publics
NEXT_PUBLIC_BASE_URL=""
NEXT_PUBLIC_MAIN_URL=""
NEXT_PUBLIC_RECAPTCHA_SITE_KEY="" #! MUST BE PUBLIC

# Secrets
GOOGLE_APPLICATION_CREDENTIALS=""
GA_PROPERTY_ID=""
CLOUDINARY_URL=""
RECAPTCHA_SECRET_KEY=""
RESEND_API_KEY=""
DATABASE_URL=""
CRON_SECRET_KEY=""

# Sms Configurations
KAVENEGAR_API=""
KAVENEGAR_SENDER=""

# AUTH
AUTH_APP="admin" #! App's Name
AUTH_SECRET=""